.home-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
}

.header-div {
    background-color: aqua;
    position: fixed;
    text-align: center;
    padding: 0.5em;
    width: 100%;
}

.register-body-div {
    display: flex;

}

.textBox-div {
    background-color: rgb(132, 1, 255);
    text-align: start;
    width: 100%;
    padding-top: 4em;
    padding-bottom: 14%;
}

.tweet {
    text-align: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
}

.photo-name-div {
    display: flex;
    padding-left: 4em;
    gap: 1.8em;
    padding-top: 1.3em;
}

.optionBar-div {
    background-color: rgb(255, 0, 0);
    flex: 1;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.option-body-div {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}
