.home-page {
    display: flex;
    flex-direction: column;
}

.header-div {
    padding-top: 0.5em;
    text-align: center;
    width: 100%;
    background-color: rgb(69, 69, 73);
    position: fixed
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exit-btn-header {
    background: none;
    border: none;
    color: rgb(235, 226, 226);
}

.main-page-txt {
    padding-bottom: 0.5em;
}

.textBox-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgb(31, 30, 30);
    padding-bottom: 4em;
    padding-top: 4em;
}

.tweets-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tweets {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.3em;
    padding-top: 1.4em;
    padding-left: 4em;
    gap: 1em;
}

.tweet-text {
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    word-wrap: break-word;
    margin-right: 3em;
}

.optionBar-div {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.option-body-div {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: rgb(69, 69, 73);
}

.option-btn,
.home-btn-header {
    background: none;
    border: none;
    color: rgb(219, 213, 224);
}

.profile-pic {
    width: 2.5em;
    border-radius: 3em;
}

.name-pic-container {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.user-name {
    font-size: 1.2em;
    color: rgb(235, 226, 226);
    
}

.add-tweet-btn-container {
    position: fixed;
    bottom: 0;
    right: 0;
    top: 68%;
    left: 76%;
}

.add-tweet-btn {
    background: none;
    border: none;
    background-color: rgb(10, 175, 73);
    border-radius: 3em;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.34) 0px 5px 15px;

}