.home-page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100vh;
}

.header-div {
    /* background-color: aqua; */
    position: fixed;
    text-align: center;
    padding: 0.5em;
    width: 100%;
}

.main-page-txt {
    padding-bottom: 0.4em;
}

.register-body-div {
    display: flex;

}

.textBox-div {
    width: 100%;
    padding-top: 4em;
    padding-bottom: 14%;
}

.user-tweet {
    width: 100%;
    /* padding-left: 4em; */
    padding-top: 1em;
    padding-bottom: 1em;
}

.username {
    padding-left: 4em;
}

.photo-name-div {
    /* display: flex; */
    padding-top: 1.3em;
}

.optionBar-div {
    background-color: rgb(255, 0, 0);
    flex: 1;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.option-body-div {
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}
