.invalidUser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.invalidUser-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(214, 12, 12);
}

.invalidUser-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(228, 214, 214);
    /* max-height: 10em; */
}

.invalidUser-link {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #0070f3;
    cursor: pointer;
}