.profile-div {
    display: flex;
    padding-top: 5.4em;
    padding-bottom: 1em;
}

.profile-body-container {
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2.5em;
    width: 100%;
}
