@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Work+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Work+Sans:ital,wght@1,300&display=swap');

.welcome-page {
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
}

.login-form,.register-form  {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: aqua;
    margin-top: 5em;
    /* padding-top: 5em; */
}

.title-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Orelega One', cursive;
    background-color: #1DB954;
    /* padding-top: 2em; */
    margin-top: 3em;
}

.login-form,.register-form {
    border-radius: 2em;
    max-width: 600px;
    align-self: center;
}
 
.form-name {
    text-align: initial;
    padding-left: 1em;
    font-weight: 600;
}

.not-registered-txt {
    text-align: center;
    margin-top: 1em;
    font-weight: 500;
    font-size: 2em;
}

.register-txt, .register-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    padding: 0.3em;
}

input {
    height: 2.6em;
    margin: 0.8em;
    border-radius: 1.6em;
    padding-left: 16px;
    width: 40vh;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 43vh;
    margin-top: 1em;
    max-width: 400px;
    height: 3em;
    border-radius: 1.6em;
    background-color: #1DB954;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover{
   background-color: #111111;
   transition: 0.2s;
}