@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Work+Sans:ital,wght@1,300&display=swap');

* {
    padding: 0%;
    margin: 0%;

}

body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
}